{:linters {:clojure-lsp/unused-public-var {:level :off}}
 :lint-as {noahtheduke.scram/defcram clojure.core/def
           noahtheduke.scram.extensions.clojure-test/defcram clojure.core/def
           noahtheduke.scram.extensions.lazytest/defcram clojure.core/def}}
